__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
datasets/

.omx/
.idea/
.vscode/

logs/
wandb/
exp_vosr/
preset/ckpts/
preset/datasets/ScreenSR/
preset/results/

*.pth
*.pt
*.ckpt
*.safetensors
*.tar
*.zip
exp_rg_flux_sr/rg_flux_sr_ms_stageA_latent_adapter_size512/args.json
exp_rg_flux_sr/
.claude/settings.local.json
*.json
eval/
*.png
.claude/settings.local.json
RG-FLUX-SR-MS
